<nav class="navbar navbar-default">
  <div class="container-fluid">

    <div class="navbar-header">
      <a class="navbar-brand" href="#">To Do List</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/todo">List All</a></li>
        <li><a href="/todo/new">Create</a></li>
      </ul>
    </div>
  </div>
</nav>
